*,
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color:;
  background-image:;
  font-family: 'Montserrat', sans-serif;
  color: #3d4151; 
}
.wrapper {
  position: relative;
}
.signup {
  height: 600px;
  width: 400px;
  background: #ffffff;
  border-radius: 5px;
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: -200px;
  margin-bottom: 100px;
  box-shadow: 0px 3px 3px #3d4151;
  padding: 2%;
}
label, button, input {
  display: block;
}
label {
  margin-bottom: 2%;
}
button {
  background-color: #328f8a;
  background-image: linear-gradient(45deg,#328f8a,#08ac4b);
  border: none;
  height: 40px;
  width: 100%;
  border-radius: 5px;
  color: #ffffff;
}
button:hover {
  color: #9a5c77;
  background: #ffffff;
  border: 1px solid #9a5c77;
}
input {
  width: 100%;
  height: 40px;
  margin-bottom: 2%;
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding-left: 2%;
}
::-webkit-input-placeholder {
   color: #8498a4;
}
:-moz-placeholder { /* Firefox 18- */
   color: #8498a4;  
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #8498a4;  
}
:-ms-input-placeholder {  
   color: #8498a4;  
}
fieldset {
  border: none;
}
h1 {
  text-align: center;
}